@font-face {
    font-family: 'Ownglyph_meetme-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



body {
    background: linear-gradient(45deg, #F055A2, #28EBD8);
    font-family: 'Ownglyph_meetme-Rg';
}

.container {
    z-index: 10;
    background-color: white;

}

#login-wrap{
    /* 웹 가운데 위치하게 만드는 공식 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* --------------------------- */
    padding: 5%;
    width: 300px;
    height: 500px;
    border-radius: 30px;
    text-align: center;
    background-color: white;
}

#login-logo{
    margin-bottom: 5%;
    width: 100%;
}

img {
    width: 200px;
    height: 200px;
    margin-left: auto; 
    margin-right: auto;
}

.login-inputbox input{
    /* position: relative; */
    /* margin-bottom: 5%; */
    padding-block: 0;
    padding-inline: 0;

    padding: 0;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border-width: 0 0 1px;
    font-family: 'Ownglyph_meetme-Rg';
    font-size: 20px;
}

.login-inputbox {
    margin-bottom: 5%;
}

.login-remember {
    margin-bottom: 5%;
}

.check {
    font-size: larger;
}

.btnbox .btn {
    width : 100%;
    margin-bottom: 5%;
    color: white;
    background-color: rgb(79, 125, 224);
    text-decoration: none;
    padding: 15px 25px;
    display: inline-block;
    box-sizing: border-box;
    font-size: 25px;
    border: none;
    font-family: 'Ownglyph_meetme-Rg';
    font-weight: lighter;
}

.copy {
    font-size: medium;
}


