* {margin: 0; padding: 0; box-sizing: border-box;}
.container {
    width: 1200px;
    margin: 0 auto;
    border: 3px dashed orange;
}

ul {list-style-type: none; padding: 0;}
a {text-decoration: none; color: black;}

header {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 50px;
    padding: 0 20px;
}

.main-menu {
    display: flex;
    flex-direction: column;
}

.menu-item {
    width: 120px;
    line-height: 50px;
    text-align: center;
    border: 1px solid black;
    background-color: white;
    position: relative;
}

.menu-item a { display: inline-block; width: 100%; height: 100%;}
.menu-item:hover {background-color: cornflowerblue;}
.sub-menu .menu-item:hover {background-color: royalblue;}
.menu-item:hover > a {color: white;}        /* 자식 선택자 | .parent > .child : .parent 바로 아래에 있는 .child만 선택(직속만: 아빠 바로 밑 자식만! / 손주,증손주 제외! */


.menu {position: relative;}

.sub {
    position: absolute;
    top: 0;
    left: 100%;
    width: calc( 1200px - 165px );
}

.sub .inner {                   /* 하위(후손)선택자 | .sub안에 있는 .inner 전부 선택(직계든 멀리있든!)*/
    width: 100%;
    display: none;
    /* opacity: 0;
    transition: all 0.5s;  */
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    background-color: lightgray;
    padding: 0 40px;
}

.sub.active .inner {            /* AND 조건 | sub도 있고, active도 있어야 선택가능 */
    display: flex;
    opacity: 1;
}

.sub .sub-menu {
    display: flex;
}